# Administrative Password for Splunk Enterprise
SPLUNK_PASSWORD=Changeme1!

# Version of Splunk Forwarder to expect in deployment/payloads
SPLUNK_FORWARDER_VERSION=9.1.2
SPLUNK_FORWARDER_HASH=b6b9c8185839

# Host IP (Used by targets to download payloads)
# Setup script will try to auto-detect this
HOST_IP=192.168.1.10
