# https://docs.ansible.com/projects/ansible/latest/reference_appendices/config.html

[defaults]
# Use a temp directory inside Splunk to avoid permission issues
remote_tmp = /tmp/.ansible/tmp

# Let ansible write files directly instead of having to copy over temp files (permission issues)
unsafe_writes = True

# We are already root, so we don't need 'become' (uses 'sudo')
become = False

# Make Ansible output more readable
stdout_callback = yaml

# Don't create retry files if playbook fails
retry_files_enabled = False

[ssh_connection]
# Use pipelining to avoid creating temp files on the remote host
pipelining = True
